{% extends 'shared/main_layout_admin.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          {% comment %}
          <img class="profile-user-img img-responsive img-circle"
            src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-0.png" alt="User profile picture">
          {% endcomment %}
          <h3 class="profile-username text-center">{{ object.get_full_name }}</h3>

          <p class="text-muted text-center">{{ object.username }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>شماره تلفن</b> <a class="pull-left">{{ object.phone_number }}</a>
            </li>
            {% if object.is_consultant %}
            <li class="list-group-item">
              <b>سهیمه باقی مانده آگهی ویژه</b> <a class="pull-left">{{ object.special_ad_monthly_quota }}</a>
            </li>
            <li class="list-group-item">
              <b>سهمیه باقی مانده آگهی نردبون</b> <a class="pull-left">{{ object.ladder_monthly_quota }}</a>
            </li>
            <li class="list-group-item">
              <b>سهمیه باقی مانده ثبت آگهی جدید (ماهانه)</b> <a class="pull-left">{{ object.special_ad_monthly_quota }}</a>
            </li>
            {% endif %}
            <li class="list-group-item">
              <b>وضعیت اکانت</b> <a class="pull-left">
                {% if object.is_active %}
                فعال
                {% else%}
                غیر فعال
                {% endif %}
              </a>
            </li>
            <li class="list-group-item">
              <b>وضعیت ادمین بودن</b> <a class="pull-left">
                {% if object.is_superuser %}
                ادمین
                {% else%}
                کاربر عادی
                {% endif %}
              </a>
            </li>

            <li class="list-group-item">
              <b>وضعیت مشاور بودن</b> <a class="pull-left">
                {% if object.is_consultant %}
                مشاور
                {% else%}
                کاربر عادی
                {% endif %}
              </a>
            </li>

            <li class="list-group-item">
              <b>وضعیت فعال بودن شماره تلفن</b> <a class="pull-left">
                {% if object.is_phone_number_verified %}
                فعال
                {% else%}
                غیر فعال
                {% endif %}
              </a>
            </li>

          </ul>

          <a href="{% url 'user-update' object.pk %}" class="btn btn-primary btn-block"><b>ویرایش اطلاعات</b></a>
          <a href="{% url 'user-delete' object.pk %}" class="btn btn-danger btn-block"><b>حذف اطلاعات</b></a>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      {% if object.is_consultant %}
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">وضعیت درآمد</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong>درآمد این ماه</strong>
          <p class="text-muted">
            {{ user_incomes_sum_of_incomes|floatformat:1|intcomma }}
          </p>
          <hr>

          <strong>مجموع دریافتی</strong>
          <p class="text-muted">
            {{ user_incomes_this_month_income|floatformat:1|intcomma }}
          </p>
          <hr>

          <strong>پیشرفت</strong>
          <p class="text-muted">
            {{ user_incomes_progress|floatformat:1|intcomma }}
          </p>
          <hr>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      {% endif %}
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#favs" data-toggle="tab">علاقه مندی ها</a></li>
          {% if object.is_consultant %}
          <li><a href="#estates" data-toggle="tab">آگهی ها</a></li>
          <li><a href="#contacts" data-toggle="tab">مخاطبین</a></li>
          <li><a href="#incomes" data-toggle="tab">درآمد ها</a></li>
          {% endif %}
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="favs">

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding mt-5">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>شناسه</th>
                    <th>عنوان</th>
                    <th>آدرس</th>
                    <th>مشاور</th>
                    <th>نردبون</th>
                    <th>ویژه</th>
                  </tr>
                  {% for estate in fav_estates %}
                  <tr>
                    <td>{{ estate.pk }}</td>
                    <td><a href="{% url 'estates-detail' estate.pk %}">{{ estate.title }}</a></td>
                    <td>{{ estate.address }}</td>
                    <td>{{ estate.consultant }}
                    <td>
                      {% if estate.is_ladder %}
                      <span class="label label-success">نردبون</span>
                      {% else %}
                      <span class="label label-warning">عادی</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if estate.is_special %}
                      <span class="label label-success">ویژه</span>
                      {% else %}
                      <span class="label label-warning">عادی</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% empty %}
                  <h4 class="text-center">آگهی پیدا نشد</h4>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="tab-pane" id="estates">

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding mt-5">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>شناسه</th>
                    <th>عنوان</th>
                    <th>آدرس</th>
                    <th>مشاور</th>
                    <th>نردبون</th>
                    <th>ویژه</th>
                    <th>دستور</th>
                  </tr>
                  {% for estate in estates %}
                  <tr>
                    <td>{{ estate.pk }}</td>
                    <td><a href="{% url 'estates-detail' estate.pk %}">{{ estate.title }}</a></td>
                    <td>{{ estate.address }}</td>
                    <td>{{ estate.consultant }}
                    <td>
                      {% if estate.is_ladder %}
                      <span class="label label-success">نردبون</span>
                      {% else %}
                      <span class="label label-warning">عادی</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if estate.is_special %}
                      <span class="label label-success">ویژه</span>
                      {% else %}
                      <span class="label label-warning">عادی</span>
                      {% endif %}
                    </td>
                    <td><a href="{% url 'estates-delete' estate.pk %}" class="btn btn-danger">حذف</a></td>
                  </tr>
                  {% empty %}
                  <h4 class="text-center">آگهی پیدا نشد</h4>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="tab-pane" id="contacts">

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding mt-5">
              <a class="btn btn-primary" href="{% url 'user-contact-create' object.pk %}">اضافه کردن مخاطب</a>
              <table class="table table-hover" style="margin-top: 5px;">
                <tbody>
                  <tr>
                    <th>شناسه</th>
                    <th>شماره تلفن</th>
                    <th>وضعیت</th>
                    <th>دستور</th>
                  </tr>
                  {% for contact in user_contacts %}
                  <tr>
                    <td>{{ contact.pk }}</td>
                    <td>{{ contact.customer_phone_number }}</td>
                    <td>{{ contact.get_status_display }}</td>
                    <td>
                      <a class="btn btn-danger" href="{% url 'user-contact-delete' contact.pk %}">حذف کردن</a>
                    </td>
                  </tr>
                  {% empty %}
                  <h4 class="text-center">مخاطبی پیدا نشد</h4>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

          <div class="tab-pane" id="incomes">

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding mt-5">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>شناسه</th>
                    <th>عنوان</th>
                    <th>آگهی</th>
                    <th>مقدار</th>
                  </tr>
                  {% for income in user_incomes %}
                  <tr>
                    <td>{{ income.pk }}</td>
                    <td>{{ income.title }}  </td>
                    <td><a href="{% url 'estates-detail' income.estate.pk %}">{{ income.estate.title }}</a></td>
                    <td>{{ income.amount|floatformat:1|intcomma}}
                  </tr>
                  {% empty %}
                  <h4 class="text-center">درامدی پیدا نشد</h4>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
{% endblock %}