{% load static %}
<!-- right side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">منو</li>
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>داشبورد</a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>ماژول کاربران</span>
                    <span class="pull-left-container">
              <i class="fa fa-angle-right pull-left"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'users-list' %}"><i class="fa fa-users"></i> همه کاربران</a></li>
                    <li><a href="{% url 'consultant-users-list' %}"><i class="fa fa-user-secret"></i> مشاوران</a></li>
                    <li><a href="{% url 'create-user' %}"><i class="fa fa-user-plus"></i> اضافه کردن کاربر</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-home"></i> <span>ماژول املاک</span>
                    <span class="pull-left-container">
              <i class="fa fa-angle-right pull-left"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <!-- TODO: change urls -->
                    <li><a href="{% url 'estates-list' %}"><i class="fa fa-user-plus"></i>آگهی ها</a></li>
                    <li><a href="{% url 'create-estate' %}"><i class="fa fa-plus"></i>افزودن آگهی</a></li>
                    <li><a href="{% url 'estate-property-list' %}"><i class="fa fa-user-plus"></i>ویژگی ها</a></li>
                    <li><a href="{% url 'create-user' %}"><i class="fa fa-user-plus"></i>افزودن ویژگی</a></li>
                </ul>
            </li>
            <li><a href="{% url 'logout-admin' %}"><i class="fa fa-sign-out"></i>خروج از حساب کاربری</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>